.favorite__content {
    padding: -10px;
    margin: 10px;
}

.favorites__flex {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.favorites__flex_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
