.main__content {
  padding: -10px;
  margin: 10px;
}

.main__grid {
  padding-top: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}

.main__flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__header {
  font-size: 18px;
  padding: 6px;
}

.main__card {
  max-width: 200;
  display: flex;
  flex-direction: column;
}

.main__card-buttons {
  margin-top: auto;
}

.card-button {
  text-decoration: none;
}

.main__card_detailed {
  max-width: 300;
  display: flex;
  flex-direction: column;
}
